<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<%=link_to "home", flights_path %>
<%= debug(params)%>


<%=form_with model:@flight, method: :get do |form|%>
    <%=form.label :departure_airport, "From:"%>
    <%=form.select(:departure_airport, options_for_select(@airports_options), prompt: true)%>

    <%=form.label :arrival_airport, "To:"%>
    <%=form.select(:arrival_airport, options_for_select(@airports_options), prompt: true)%>
    
    <%=form.label :flight_date, "Date:"%>
    <%=form.select :flight_date, options_for_select(@flights_options), prompt: true%>

    <%=form.label :number_passengers, "Number of passengers:"%>
    <%=form.number_field :number_passengers, in:(1..4), step: 1, value: 1%>

    <%= form.submit "Search"%>
<%end%>


<%if @queried_flights%>
<h2>Select your flight</h2>
    <%=form_with url: new_booking_path, method: :get do |form| %>
        <div>
            <%@queried_flights.each do |flight|%>   
                <div>
                    <%=render flight%>
                    <%=form.checkbox "flight#{[flight.id]}",  include_hidden:false%>
                </div>
            <%end%>
        </div>
        <%= form.hidden_field :number_passengers %>
        <%= form.submit "Buy Flights"%>
    <%end %>
<%end%>