<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<%= link_to "Home", root_path %>

<div><%= debug params %></div>

<div>
    <%= form_with model: @booking, method: :create do |booking_form| %>
        <h2>Flights Selected:</h2>
        <div>
            <% @flights.each do |flight| %>
                <%= hidden_field_tag 'flight_ids[]', flight.id, {id: nil, class:"flight_id"} %>
                    <div>
                        <div> Flight number: <%= flight.id.to_s.rjust(6,"0") %></div>
                        <div> Flight Date: <%= flight.formatted_takeoff_date %></div>
                        <%= render flight %>
                    </div>
            <% end %>
        </div>

        <div data-controller="passenger">
            <h2>Passenger Information:</h2>
            <%= hidden_field_tag 'number_passengers', params[:number_passengers] %>
                <div id="passenger_section"></div>
                <template>
                    <div>
                        <h3>- Passenger <span class="index">#</span></h3>
                        <div>
                            <label for="passengers_new_name_">Name: </label>
                            <input type="text" name="passenger_name" id="passengers_new_name_" value="Default Name" autocomplete="off">
                        </div>
                        <div>
                            <label for="passengers_new_email_">Email: </label>
                            <input type="text" name="passenger_email" id="passengers_new_email_" value="DefaultEmail@mail.com" autocomplete="off">
                        </div>
                    </div>
                </template>
            <div>
                <%= booking_form.submit %>
                <button type="button" data-passenger-target="btn">Add passenger</button>
            </div>
        </div>
    <% end %>
</div>
