<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>
<%= link_to "Home", root_path %>

<div><%= debug params %></div>

<div>
    <%= form_with model: @booking, method: :create do |booking_form| %>
        <h2>Flights Selected:</h2>
        <div>
            <% @flights.each do |flight| %>
                <%= hidden_field_tag 'flight_ids[]', flight.id%>
                    <div>
                        <div> Flight number: <%= flight.id.to_s.rjust(6,"0") %></div>
                        <div> Flight Date: <%= flight.formatted_takeoff_date %></div>
                        <%= render flight %>
                    </div>
            <% end %>
        </div>

        <h2>Passenger Information:</h2>
        <% @booking.passengers.each_with_index do |passenger, index| %>
            <%= booking_form.fields_for :passengers, passenger do |passenger_form| %>

                <h3>- Passenger <%= index+1 %>
                <div>
                    <%= passenger_form.label :name, "Name: " %>
                    <%= passenger_form.text_field :name , value: "name"%>
                </div>

                <div>
                    <%= passenger_form.label :email, "Email: " %>
                    <%= passenger_form.email_field :email, value: "email@email" %>
                </div>
            <% end %>
        <% end %>
        <%= booking_form.submit %>
    <% end %>
</div>
